In [ ]:
#Nithin Thota
#700764916
#Neural Networks Assignment 1

In [1]:
#1 Full Name Code and Alternative Strings
def fullname(first_name, last_name):
    return first_name + " " + last_name

def string_alternative(input_string):
    return input_string[::2]

first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")

full_name = fullname(first_name, last_name)
print("Full Name:", full_name)

alternate_chars = string_alternative(full_name)
print("String Alternative:", alternate_chars)

Enter your first name: Nithin
Enter your last name: Thota
Full Name: Nithin Thota
String Alternative: Nti ht

In [2]:
#Word Count in a file
with open("input.txt", "r") as infile:
    lines = infile.readlines()

word_count = {}
for line in lines:
    words = line.split()
    for word in words:
        word_count[word] = word_count.get(word, 0) + 1

with open("output.txt", "w") as outfile:
    for word, count in word_count.items():
        outfile.write(word + ": " + str(count) + "\n")

In [3]:
#Height Conversion using Nested Loops
heights_in_inches = [60, 65, 70, 75]
heights_in_cm = []
for height in heights_in_inches:
    heights_in_cm.append(round(height * 2.54, 2))
print(heights_in_cm)

[152.4, 165.1, 177.8, 190.5]

In [4]:
#Height Conversion using List Comprehension
heights_in_inches = [60, 65, 70, 75]
heights_in_cm = [round(height * 2.54, 2) for height in heights_in_inches]
print(heights_in_cm)

[152.4, 165.1, 177.8, 190.5]